#load_date {
    color:green;
    font-size:20px;
}
#code_snippet {
    border: thin solid #32a1ce;
    height: 40px;
    margin: 0;
    line-height: initial;
    padding: 0 0 0 15px;
    color: #333;
    width: 40%;
}